---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Fri, 12 Feb 2021 11:21:21 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/funding_accounts/find
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
        - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
        - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{
                   "error_code": "currency_is_required",
                   "error_messages": {
                       "base": {
                           "code": "currency_is_required",
                           "message": "Currency is required",
                           "params": {}
                       }
                   }
               }'
  recorded_at: Fri, 12 Feb 2021 11:21:21 GMT
recorded_with: VCR 5.0.0
