---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Wed, 15 Jan 2020 09:33:08 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/funding_accounts/find?currency=GBP&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"funding_accounts": [
                             {
                               "id": "b7981972-8e29-485b-8a4a-9643fc6ae3sa",
                               "account_id": "8d98bdc8-e8e3-47dc-bd08-3dd0f4f7ea7b",
                               "account_number": "012345678",
                               "account_number_type":"account_number",
                               "account_holder_name": "Jon Doe",
                               "bank_name": "Starling",
                               "bank_address": "3rd floor, 2 Finsbury Avenue, London, EC2M 2PP, GB",
                               "bank_country": "UK",
                               "currency": "GBP",
                               "payment_type": "regular",
                               "regular_routing_code": "010203",
                               "regular_routing_code_type": "sort_code",
                               "priority_routing_code": "",
                               "priority_routing_code_type": "",
                               "created_at": "2018-05-14T14:18:30+00:00",
                               "updated_at": "2018-05-14T14:19:30+00:00"
                             }
                           ],
                           "pagination": {
                             "total_entries": 1,
                             "total_pages": 1,
                             "current_page": 1,
                             "per_page": 5,
                             "previous_page": -1,
                             "next_page": -1,
                             "order": "created_at",
                             "order_asc_desc": "desc"
                           }
                         }'
  recorded_at: Wed, 15 Jan 2020 09:37:07 GMT
recorded_with: VCR 5.0.0
