---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Tue, 22 Apr 2026 14:00:00 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/quotes/create
    body:
      encoding: UTF-8
      string: buy_currency=USD&sell_currency=EUR&fixed_side=sell&amount=100.0&hold_period=30s&conversion_date=2026-04-24
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buy_currency":"USD","client_buy_amount":"118.56","client_rate":"1.1856","client_sell_amount":"100.0","core_rate":"1.1858","created_at":"2026-04-22T14:00:01Z","currency_pair":"EURUSD","deposit_amount":"0.0","deposit_currency":"EUR","deposit_required":false,"expires_at":"2026-04-22T14:00:31Z","fixed_side":"sell","mid_market_rate":"1.0146","partner_buy_amount":"118.56","partner_rate":"1.1856","partner_sell_amount":"100.0","quote_id":"4d36df5b-4663-56cc-980f-517dc806163bb","sell_currency":"EUR","settlement_cut_off_time":"2026-04-24T15:30:00Z"}'
  recorded_at: Tue, 22 Apr 2026 14:00:01 GMT
recorded_with: VCR 6.0.0
