dist: trusty
language: ruby
script: bundle exec rspec
cache: bundler

rvm:
  - 1.9.3
  - 2.2
  - 2.3.4
  - 2.4.1
  - 2.5.3
  - 2.6.3
  - jruby-19mode
  - jruby-9.1.17.0
  - jruby-9.2.0.0

jobs:
  allow_failures:
    - rvm: 1.9.3