---
http_interactions:
- request:
    method: get
    uri: https://devapi.thecurrencycloud.com/v2/balances/GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 616ad15a2b961ded94ef4e121bf0f67c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5a998e06-3eb7-46d6-ba58-f749864159ce","account_id":"e7483671-5dc6-0132-e126-002219414986","currency":"GBP","amount":"999866.78","created_at":"2014-12-04T09:50:35+00:00","updated_at":"2015-03-23T14:33:37+00:00"}'
  recorded_at: Sun, 03 May 2015 17:51:05 GMT
recorded_with: VCR 2.9.3
