---
http_interactions:
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/rates/detailed?amount=10000&buy_currency=GBP&conversion_date_preference=optimize_liquidity&fixed_side=buy&sell_currency=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - bbdd421bdda373ea69670c9101fa9197
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{ "settlement_cut_off_time": "2020-05-21T14:00:00Z", "currency_pair":
        "GBPUSD", "client_buy_currency": "GBP", "client_sell_currency": "USD", "client_buy_amount":
        "10000.00", "client_sell_amount": "14081.00", "fixed_side": "buy", "client_rate":
        "1.4081", "partner_rate": null, "core_rate": "1.4081", "deposit_required":
        false, "deposit_amount": "0.0", "deposit_currency": "USD", "mid_market_rate":
        "1.4080" }'
  recorded_at: Tue, 19 May 2020 13:12:46 GMT
recorded_with: VCR 5.0.0
