---
http_interactions:
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/rates/detailed?amount=10000&buy_currency=GBP&fixed_side=buy&sell_currency=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 242993ca94b9d1c6c1d8f7d3275a6f36
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"settlement_cut_off_time":"2015-04-29T14:00:00Z","currency_pair":"GBPUSD","client_buy_currency":"GBP","client_sell_currency":"USD","client_buy_amount":"10000.00","client_sell_amount":"15234.00","fixed_side":"buy","mid_market_rate":"1.5231","client_rate":"1.5234","partner_rate":null,"core_rate":"1.5234","deposit_required":null,"deposit_amount":"0.0","deposit_currency":"USD"}'
  recorded_at: Mon, 27 Apr 2015 20:35:49 GMT
recorded_with: VCR 2.9.3
