---
http_interactions:
- request:
    method: get
    uri: https://devapi.thecurrencycloud.com/v2/rates/find
    body:
      encoding: UTF-8
      string: currency_pair=GBPUSD%2CEURGBP
    headers:
      X-Auth-Token:
      - 242993ca94b9d1c6c1d8f7d3275a6f36
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"rates":{"EURGBP":["0.71445","0.71508"],"GBPUSD":["1.52264","1.52334"]},"unavailable":[]}'
  recorded_at: Mon, 27 Apr 2015 20:33:52 GMT
- request:
    method: get
    uri: https://devapi.thecurrencycloud.com/v2/rates/find?currency_pair=GBPUSD,EURGBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 242993ca94b9d1c6c1d8f7d3275a6f36
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication
        failed with the supplied credentials","params":{}}]}}'
  recorded_at: Wed, 29 Apr 2015 23:20:45 GMT
- request:
    method: post
    uri: https://devapi.thecurrencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=rjnienaber%40gmail.com2&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0
    headers:
      X-Auth-Token:
      - 242993ca94b9d1c6c1d8f7d3275a6f36
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication
        failed with the supplied credentials","params":{}}]}}'
  recorded_at: Wed, 29 Apr 2015 23:20:46 GMT
recorded_with: VCR 2.9.3
