---
http_interactions:
- request:
    method: get
    uri: https://devapi.thecurrencycloud.com/v2/rates/detailed
    body:
      encoding: UTF-8
      string: buy_currency=GBP&sell_currency=USD&fixed_side=buy&amount=10000
    headers:
      X-Auth-Token:
      - 242993ca94b9d1c6c1d8f7d3275a6f36
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"settlement_cut_off_time":"2015-04-29T14:00:00Z","currency_pair":"GBPUSD","client_buy_currency":"GBP","client_sell_currency":"USD","client_buy_amount":"10000.00","client_sell_amount":"15234.00","fixed_side":"buy","mid_market_rate":"1.5231","client_rate":"1.5234","partner_rate":null,"core_rate":"1.5234","deposit_required":null,"deposit_amount":"0.0","deposit_currency":"USD"}'
  recorded_at: Mon, 27 Apr 2015 20:35:49 GMT
- request:
    method: get
    uri: https://devapi.thecurrencycloud.com/v2/rates/detailed?amount=10000&buy_currency=GBP&fixed_side=buy&sell_currency=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 242993ca94b9d1c6c1d8f7d3275a6f36
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication
        failed with the supplied credentials","params":{}}]}}'
  recorded_at: Wed, 29 Apr 2015 23:20:48 GMT
- request:
    method: post
    uri: https://devapi.thecurrencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=rjnienaber%40gmail.com2&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0
    headers:
      X-Auth-Token:
      - 242993ca94b9d1c6c1d8f7d3275a6f36
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication
        failed with the supplied credentials","params":{}}]}}'
  recorded_at: Wed, 29 Apr 2015 23:20:50 GMT
recorded_with: VCR 2.9.3
