---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeef"}'
  recorded_at: Sat, 10 Apr 2026 10:00:00 GMT
- request:
    method: put
    uri: https://devapi.currencycloud.com/v2/collections_screening/bdcca5e6-32fe-45f6-9476-6f8f518e6270/complete
    body:
      encoding: UTF-8
      string: accepted=true&reason=accepted
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transaction_id":"bdcca5e6-32fe-45f6-9476-6f8f518e6270","account_id":"7a116d7d-6310-40ae-8d54-0ffbe41dc1c9","house_account_id":"7a116d7d-6310-40ae-8d54-0ffbe41dc1c9","result":{"accepted":true,"reason":"accepted"}}'
  recorded_at: Sat, 10 Apr 2026 10:00:01 GMT
recorded_with: VCR 3.0.3
