---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeef"}'
  recorded_at: Thu, 02 May 2024 08:20:00 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/funding_transactions/e68301d3-5b04-4c1d-8f8b-13a9b8437040
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":"e68301d3-5b04-4c1d-8f8b-13a9b8437040","amount":"1.11","currency":"USD","rail":"SEPA","additional_information":"CFST20231016143117",
    "receiving_account_routing_code":null,"value_date":"2023-10-16T00:00:00+00:00","receiving_account_number":"8302996933","receiving_account_iban":null,
    "created_at":"2023-10-16T13:31:18+00:00","updated_at":"2023-10-16T13:31:18+00:00","completed_at":null,"sender":{"sender_id":"5c675fa4-fdf0-4ee6-b5bb-156b36765433",
    "sender_address":"test","sender_country":"GB","sender_name":"test","sender_bic":null,"sender_iban":null,"sender_account_number":null,"sender_routing_code":null}}'
  recorded_at: Thu, 02 May 2024 08:20:00 GMT
recorded_with: VCR 3.0.3
