---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeef"}'
  recorded_at: Sat, 03 Dec 2022 10:15:00 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/funding_transactions/a1b2c3d4-e5f6-7890-abcd-ef1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","amount":"1000.00","currency":"USD","rail":"swift","additional_information":"ABCD20231016143117","receiving_account_routing_code":"026009593","value_date":"2022-12-03T00:00:00+00:00","receiving_account_number":"1234567890","receiving_account_iban":"GB82WEST12345698765432","created_at":"2022-12-03T10:15:30+00:00","updated_at":"2022-12-03T10:15:31+00:00","completed_at":"2022-12-03T10:15:30+00:00","sender":{"sender_id":"sender123","sender_name":"John Doe","sender_address":"123 Main St","sender_country":"US","sender_iban":"US12345678901234567890","sender_account_number":"1234567890","sender_bic":"CHASUS33","sender_routing_code":"026009593"}}'
  recorded_at: Sat, 03 Dec 2022 10:15:30 GMT
recorded_with: VCR 3.0.3
