---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"auth_token\":\"deadbeefdeadbeefdeadbeefdeadbeef\"}"
  recorded_at: Fri, 06 Jul 2018 14:21:06 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/beneficiaries/create
    body:
      encoding: UTF-8
      string: name=Employee%20Funds&bank_account_holder_name=John%20Doe&bank_country=GB&currency=GBP&email=john.doe%40acme.com&account_number=1204567890003466&routing_code_type_1=sort_code&routing_code_value_1=990901
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"85fa1f38-9813-4f1e-b93d-6cde70f78562\",\"bank_account_holder_name\":\"John
        Doe\",\"name\":\"Employee Funds\",\"email\":null,\"payment_types\":[\"regular\"],\"beneficiary_address\":[],\"beneficiary_country\":null,\"beneficiary_entity_type\":null,\"beneficiary_company_name\":null,\"beneficiary_first_name\":null,\"beneficiary_last_name\":null,\"beneficiary_city\":null,\"beneficiary_postcode\":null,\"beneficiary_state_or_province\":null,\"beneficiary_date_of_birth\":null,\"beneficiary_identification_type\":null,\"beneficiary_identification_value\":null,\"bank_country\":\"GB\",\"bank_name\":\"TEST
        BANK NAME\",\"bank_account_type\":null,\"currency\":\"GBP\",\"account_number\":\"1204567890003466\",\"routing_code_type_1\":\"sort_code\",\"routing_code_value_1\":\"990901\",\"routing_code_type_2\":null,\"routing_code_value_2\":null,\"bic_swift\":null,\"iban\":null,\"default_beneficiary\":\"false\",\"creator_contact_id\":\"871b9f2f-f8a3-4010-b084-43e48ab4f404\",\"bank_address\":[\"TEST
        BANK ADDRESS\",\" NOT USING EXTERNAL SERVICE\",\" DEVELOPMENT ENVIRONMENT.\"],\"created_at\":\"2018-07-06T14:21:12+00:00\",\"updated_at\":\"2018-07-06T14:21:12+00:00\",\"beneficiary_external_reference\":null}"
  recorded_at: Fri, 06 Jul 2018 14:21:12 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/payments/create
    body:
      encoding: UTF-8
      string: currency=GBP&beneficiary_id=85fa1f38-9813-4f1e-b93d-6cde70f78562&amount=1500&reason=SDK%20payment%20testing&reference=My%20reference%20code&payment_type=regular
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"2d13f7af-8341-4685-9e30-a56034e4f803\",\"amount\":\"1500.00\",\"beneficiary_id\":\"85fa1f38-9813-4f1e-b93d-6cde70f78562\",\"currency\":\"GBP\",\"reference\":\"My
        reference code\",\"reason\":\"SDK payment testing\",\"status\":\"awaiting_authorisation\",\"creator_contact_id\":\"871b9f2f-f8a3-4010-b084-43e48ab4f404\",\"payment_type\":\"regular\",\"payment_date\":\"2018-07-06\",\"transferred_at\":\"\",\"authorisation_steps_required\":\"1\",\"last_updater_contact_id\":\"871b9f2f-f8a3-4010-b084-43e48ab4f404\",\"short_reference\":\"180706-GJYCZS001\",\"conversion_id\":null,\"failure_reason\":\"\",\"payer_id\":\"2bb67b68-6da1-4823-8bb5-b578ee09a8fa\",\"payer_details_source\":\"account\",\"created_at\":\"2018-07-06T14:21:13+00:00\",\"updated_at\":\"2018-07-06T14:21:13+00:00\",\"payment_group_id\":null,\"unique_request_id\":null,\"failure_returned_amount\":\"0.00\",\"ultimate_beneficiary_name\":null}"
  recorded_at: Fri, 06 Jul 2018 14:21:13 GMT
[...]
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/payments/authorise
    body:
      encoding: UTF-8
      string: payment_ids[]=2d13f7af-8341-4685-9e30-a56034e4f803
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"authorisations\":[{\"payment_id\":\"2d13f7af-8341-4685-9e30-a56034e4f803\",\"payment_status\":\"authorised\",\"updated\":true,\"error\":null,\"auth_steps_taken\":1,\"auth_steps_required\":1,\"short_reference\":\"180706-GJYCZS001\"}]}"
  recorded_at: Fri, 06 Jul 2018 14:21:15 GMT
recorded_with: VCR 2.9.3
