---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Tue, 06 Oct 2020 14:57:04 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/withdrawal_accounts/0886ac00-6ab6-41a6-b0e1-8d3faf2e0de2/pull_funds
    body:
      encoding: UTF-8
      string: reference=PullFunds1&amount=100.0
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cdn-Loop:
      - cloudflare
      Wso2-Am-Api-Default-Version:
      - 'true'
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
    body:
      encoding: UTF-8
      string: |-
        {  "id": "e2e6b7aa-c9e8-4625-96a6-b97d4baab758",   "withdrawal_account_id": "0886ac00-6ab6-41a6-b0e1-8d3faf2e0de2",   "reference": "PullFunds1",   "amount": "100.00",   "created_at": "2020-06-29T08:02:31+00:00"}
  recorded_at: Tue, 06 Oct 2020 14:58:18 GMT
recorded_with: VCR 5.0.0
