---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: US-ASCII
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Mon, 16 Jul 2018 08:20:14 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/withdrawal_accounts?account_id=72970a7c-7921-431c-b95f-3438724ba16f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cdn-Loop:
      - cloudflare
      Wso2-Am-Api-Default-Version:
      - 'true'
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
    body:
      encoding: UTF-8
      string: |-
        {"withdrawal_accounts": [  {    "id": "0886ac00-6ab6-41a6-b0e1-8d3faf2e0de2",    "account_name": "currencycloud",    "account_holder_name": "The Currency Cloud",    "account_holder_dob": null,    "routing_code": "123456789",    "account_number": "01234567890",    "currency": "USD",    "account_id": "72970a7c-7921-431c-b95f-3438724ba16f"  }],"pagination": {  "total_entries": 1,  "total_pages": 1,  "current_page": 1,  "per_page": 25,  "previous_page": -1,  "next_page": -1,  "order": "created_at",  "order_asc_desc": "asc"}}
  recorded_at: Tue, 06 Oct 2020 14:29:35 GMT
recorded_with: VCR 5.0.0

