---
http_interactions:
  - request:
      method: post
      uri: https://devapi.currencycloud.com/v2/authenticate/api
      body:
        encoding: UTF-8
        string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: UTF-8
        string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
    recorded_at: Fri, 18 Oct 2019 13:56:28 GMT
  - request:
      method: get
      uri: https://devapi.currencycloud.com/v2/reference/payment_fee_rules
      body:
        encoding: US-ASCII
        string: ''
      headers:
        X-Auth-Token:
        - deadbeefdeadbeefdeadbeefdeadbeef
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
        - application/json; charset=UTF-8
      body:
        encoding: UTF-8
        string: '{"payment_fee_rules": [{"payment_type": "priority","charge_type": "shared","fee_amount": "2.00","fee_currency": "AED"},{"payment_type": "regular", "charge_type": "shared","fee_amount": "12.00","fee_currency": "USD"},{"payment_type": "priority","charge_type": "ours","fee_amount": "5.25","fee_currency": "GBP"}]}'
    recorded_at: Fri, 18 Oct 2019 13:56:26 GMT
  - request:
      method: get
      uri: https://devapi.currencycloud.com/v2/reference/payment_fee_rules?payment_type=regular
      body:
        encoding: US-ASCII
        string: ''
      headers:
        X-Auth-Token:
          - deadbeefdeadbeefdeadbeefdeadbeef
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: UTF-8
        string: '{"payment_fee_rules": [{"payment_type": "regular", "charge_type": "shared","fee_amount": "12.00","fee_currency": "USD"}]}'
    recorded_at: Fri, 18 Oct 2019 13:56:26 GMT
  - request:
      method: get
      uri: https://devapi.currencycloud.com/v2/reference/payment_fee_rules?charge_type=ours
      body:
        encoding: US-ASCII
        string: ''
      headers:
        X-Auth-Token:
          - deadbeefdeadbeefdeadbeefdeadbeef
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: UTF-8
        string: '{"payment_fee_rules": [{"payment_type": "priority","charge_type": "ours","fee_amount": "5.25","fee_currency": "GBP"}]}'
    recorded_at: Fri, 18 Oct 2019 13:56:26 GMT
recorded_with: VCR 5.0.0
