---
http_interactions:
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/reference/settlement_accounts?currency=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 1c9da5726314246acfb09ec5651307a5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"settlement_accounts":[{"bank_account_holder_name":"The Currency Cloud
        GBP - Client Seg A/C","beneficiary_address":"","beneficiary_country":"","bank_name":"Barclays
        Bank plc","bank_address":[],"bank_country":"","currency":"GBP","bic_swift":"BARCGB22","iban":"GB06
        BARC 2006 0513 0714 72","account_number":"13071472","routing_code_type_1":"sort_code","routing_code_value_1":"200605","routing_code_type_2":"","routing_code_value_2":""}]}'
  recorded_at: Wed, 29 Apr 2015 21:04:10 GMT
recorded_with: VCR 2.9.3
