---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: US-ASCII
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Mon, 16 Jul 2018 08:20:17 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/reference/conversion_dates?conversion_pair=GBPUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{
                      "first_conversion_cutoff_datetime": "2020-11-10T15:30:00+00:00",
                      "first_conversion_date": "2020-11-10",
                      "default_conversion_date": "2020-11-12",
                      "optimize_liquidity_conversion_date": "2020-11-12",
                      "invalid_conversion_dates": {
                        "2020-11-11": "Veterans'' Day",
                        "2020-11-14": "No trading on Saturday",
                        "2020-11-15": "No trading on Sunday",
                        "2020-11-21": "No trading on Saturday",
                        "2020-11-22": "No trading on Sunday",
                        "2020-11-26": "Thanksgiving",
                        "2020-11-28": "No trading on Saturday",
                        "2020-11-29": "No trading on Sunday",
         [...]
