---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: US-ASCII
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Mon, 16 Jul 2018 08:20:19 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/reference/currencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"currencies":[{"code":"AED","decimal_places":2,"name":"United Arab
        Emirates Dirham","online_trading":true},{"code":"AUD","decimal_places":2,"name":"Australian
        Dollar","online_trading":true},{"code":"BGN","decimal_places":2,"name":"Bulgarian
        Lev","online_trading":true},{"code":"BHD","decimal_places":2,"name":"Bahraini
        Dinar","online_trading":true},{"code":"CAD","decimal_places":2,"name":"Canadian
        Dollar","online_trading":true},{"code":"CHF","decimal_places":2,"name":"Swiss
        Franc","online_trading":true},{"code":"CNY","decimal_places":2,"name":"Chinese
     [...]
