---
http_interactions:
  - request:
      method: post
      uri: https://devapi.currencycloud.com/v2/authenticate/api
      body:
        encoding: US-ASCII
        string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: US-ASCII
        string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
    recorded_at: Mon, 16 Jul 2018 08:20:14 GMT
  - request:
      method: get
      uri: https://devapi.currencycloud.com/v2/reference/bank_details?identifier_type=iban&identifier_value=GB19TCCL00997901654515
      body:
        encoding: US-ASCII
        string: ''
      headers:
        X-Auth-Token:
          - deadbeefdeadbeefdeadbeefdeadbeef
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: US-ASCII
        string: '{"identifier_value":"GB19TCCL00997901654515","identifier_type":"iban","account_number":"GB19TCCL00997901654515","bic_swift":"TCCLGB22XXX","bank_name":"THE CURRENCY CLOUD LIMITED","bank_branch":"","bank_address":"12 STEWARD STREET  THE STEWARD BUILDING FLOOR 0","bank_city":"LONDON","bank_state":"LONDON","bank_post_code":"E1 6FQ","bank_country":"UNITED KINGDOM","bank_country_ISO":"GB","currency":null}'
    recorded_at: Mon, 16 Jul 2018 08:20:15 GMT
recorded_with: VCR 4.0.0
