---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: US-ASCII
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Mon, 16 Jul 2018 08:21:41 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/reference/payment_purpose_codes?currency=INR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"purpose_codes":[{"currency":"INR","entity_type":"company","purpose_code":"property_purchase","purpose_description":"Purchase
        of residential property"},{"currency":"INR","entity_type":"company","purpose_code":"construction","purpose_description":"Construction
        costs/expenses"},{"currency":"INR","entity_type":"company","purpose_code":"travel","purpose_description":"Travel"},{"currency":"INR","entity_type":"company","purpose_code":"office","purpose_description":"Representative
        office expenses"},{"currency":"INR","entity_type":"company","purpose_code":"exports","purpose_description":"Payme[...]
