---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Activityid:
      - a75caef5-12cf-422c-aa8e-b4ae9f5a343c
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Wed, 13 Jul 2022 08:42:22 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/transfers/create
    body:
      encoding: UTF-8
      string: source_account_id=d0ad035e-b699-4fcd-a73c-13fb0910a884&destination_account_id=e54a5e86-80ad-4434-90fe-0c8c751666de&currency=GBP&amount=1000
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Activityid:
      - 66eed348-6c2d-41be-a81c-dc6d58d92e4a
    body:
      encoding: UTF-8
      string: '{"id":"f4bf00d7-1672-463d-96b0-9e9643793978","short_reference":"BT-20170515-ZPRQVQ","source_account_id":"d0ad035e-b699-4fcd-a73c-13fb0910a884","destination_account_id":"e54a5e86-80ad-4434-90fe-0c8c751666de","currency":"GBP","amount":"1000.00","status":"pending","reason":null,"created_at":"2017-05-15T13:02:23+00:00","updated_at":"2017-05-15T13:02:24+00:00","completed_at":"2017-05-15T13:02:24+00:00","creator_account_id":"d0ad035e-b699-4fcd-a73c-13fb0910a884","creator_contact_id":"16565245-1b65-464e-affa-58313192b54f"}'
  recorded_at: Wed, 13 Jul 2022 08:43:32 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/transfers/f4bf00d7-1672-463d-96b0-9e9643793978/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Activityid:
      - 18e48ab8-d33c-4c10-9f71-5dcfdc5394f5
    body:
      encoding: UTF-8
      string: '{"id":"f4bf00d7-1672-463d-96b0-9e9643793978","short_reference":"BT-20170515-ZPRQVQ","source_account_id":"d0ad035e-b699-4fcd-a73c-13fb0910a884","destination_account_id":"e54a5e86-80ad-4434-90fe-0c8c751666de","currency":"GBP","amount":"1000.00","status":"cancelled","reason":"","created_at":"2017-05-15T13:02:23+00:00","updated_at":"2017-05-15T13:02:24+00:00","completed_at":"2017-05-15T13:02:24+00:00","creator_account_id":"d0ad035e-b699-4fcd-a73c-13fb0910a884","creator_contact_id":"16565245-1b65-464e-affa-58313192b54f"}'
  recorded_at: Wed, 13 Jul 2022 08:44:28 GMT
recorded_with: VCR 5.0.0
