---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Thu, 06 Jun 2019 11:36:50 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/payments/payment_delivery_date?bank_country=GB&currency=GBP&payment_date=2019-06-07&payment_type=regular
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"payment_date": "2019-06-07","payment_delivery_date": "2019-06-07T00:00:00+00:00","payment_cutoff_time": "2019-06-07T14:30:00+00:00","payment_type": "regular","currency": "GBP","bank_country": "GB"}'
  recorded_at: Thu, 06 Jun 2019 11:37:39 GMT
recorded_with: VCR 5.0.0
