---
http_interactions:
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/payments/quote_payment_fee?bank_country=GB&currency=GBP&payment_date=2019-06-07&payment_type=regular
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"account_id": "0534aaf2-2egg-0134-2f36-10b11cd33cfb","payment_currency":
                      "USD","payment_destination_country": "US","payment_type": "regular","charge_type":
                      null,"fee_amount": "10.00", "fee_currency": "EUR"}'
  recorded_at: Fri, 18 Oct 2019 15:03:06 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string:  '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Fri, 18 Oct 2019 15:03:08 GMT
recorded_with: VCR 5.0.0
