---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: US-ASCII
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"auth_token":"a897e685e3a6483a50151431a2593a57"}'
  recorded_at: Mon, 16 Jul 2018 09:16:09 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/beneficiaries/create
    body:
      encoding: US-ASCII
      string: bank_account_holder_name=Test%20User&bank_country=GB&currency=GBP&name=Test%20User&account_number=12345678&routing_code_type_1=sort_code&routing_code_value_1=123456
    headers:
      X-Auth-Token:
      - a897e685e3a6483a50151431a2593a57
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"id":"de0eaad6-bb04-4bfe-acc7-a4ce44e4e606","bank_account_holder_name":"Test
        User","name":"Test User","email":null,"payment_types":["priority","regular"],"beneficiary_address":[],"beneficiary_country":null,"beneficiary_entity_type":null,"beneficiary_company_name":null,"beneficiary_first_name":null,"beneficiary_last_name":null,"beneficiary_city":null,"beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficiary_identification_type":null,"beneficiary_identification_value":null,"bank_country":"GB","bank_name":"TEST
        BANK NAME","bank_account_type":null,"currency":"GBP","account_number":"12345678","routing_code_type_1":"sort_code","routing_code_value_1":"123456","routing_code_type_2":null,"routing_code_value_2":null,"bic_swift":null,"iban":null,"default_beneficiary":"false","creator_contact_id":"97bd468f-c7bc-446f-ba68-dd8cf2bddef2","bank_address":["TEST
        BANK ADDRESS"," NOT USING EXTERNAL SERVICE"," DEVELOPMENT ENVIRONMENT."],"created_at":"2018-07-16T09:16:09+00:00","updated_at":"2018-07-16T09:16:09+00:00","beneficiary_external_reference":null}'
  recorded_at: Mon, 16 Jul 2018 09:16:10 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/payments/validate
    body:
      encoding: US-ASCII
      string: currency=GBP&beneficiary_id=de0eaad6-bb04-4bfe-acc7-a4ce44e4e606&amount=1000&reason=Testing%20SCA%20payments&reference=Testing%20SCA%20payments&payment_type=regular
    headers:
      X-Auth-Token:
      - a897e685e3a6483a50151431a2593a57
      x-sca-to-authenticated-user:
      - false
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-sca-id:
      - 123e4567-e89b-12d3-a456-426614174000
      x-sca-required:
      - true
      x-sca-type:
      - SMS
    body:
      encoding: US-ASCII
      string: '{"validation_result":"success"}'
  recorded_at: Mon, 16 Jul 2018 09:16:11 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/payments/create
    body:
      encoding: US-ASCII
      string: currency=GBP&beneficiary_id=de0eaad6-bb04-4bfe-acc7-a4ce44e4e606&amount=1000&reason=Testing%20payments&reference=Testing%20payments&payment_type=regular
    headers:
      X-Auth-Token:
      - a897e685e3a6483a50151431a2593a57
      x-sca-id:
      - 123e4567-e89b-12d3-a456-426614174000
      x-sca-token:
      - 123456
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"id":"efd026f1-5ca1-4266-b530-79f37ac31ca8","amount":"1000.00","beneficiary_id":"de0eaad6-bb04-4bfe-acc7-a4ce44e4e606","currency":"GBP","reference":"Testing
        SCA payments","reason":"Testing SCA payments","status":"ready_to_send","creator_contact_id":"97bd468f-c7bc-446f-ba68-dd8cf2bddef2","payment_type":"regular","payment_date":"2018-07-16","transferred_at":"","authorisation_steps_required":"0","last_updater_contact_id":"97bd468f-c7bc-446f-ba68-dd8cf2bddef2","short_reference":"180716-BCQLJJ001","conversion_id":null,"failure_reason":"","payer_id":"08200442-7a72-4260-baa3-041d0535051e","payer_details_source":"account","created_at":"2018-07-16T09:16:10+00:00","updated_at":"2018-07-16T09:16:11+00:00","payment_group_id":null,"unique_request_id":null,"failure_returned_amount":"0.00","ultimate_beneficiary_name":null}'
  recorded_at: Mon, 16 Jul 2018 09:16:11 GMT
recorded_with: VCR 4.0.0
