---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Wed, 07 Oct 2020 13:21:53 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/payments/46ed4827-7b6f-4491-a06f-b548d5a7512d/tracking_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{
                           "uetr": "46ed4827-7b6f-4491-a06f-b548d5a7512d",
                           "transaction_status": {
                             "status": "processing",
                             "reason": "transferred_and_tracked"
                           },
                           "initiation_time": "2019-07-09T13:20:30+00:00",
                           "completion_time": null,
                           "last_update_time": "2019-07-10T15:39:08+00:00",
                           "payment_events": [
                             {
                               "tracker_event_type": "customer_credit_transfer_payment_cancellation_request",
                               "valid": true,
                               "transaction_status": null,
                               "funds_available": null,
                               "forwarded_to_agent": null,
                               "from": "BANABEBBXXX",
                               "to": "BANAUS33XXX",
                               "originator": null,
                               "serial_parties": null,
                               "sender_acknowledgement_receipt": "2019-07-10T15:39:08+00:00",
                               "instructed_amount": null,
                               "confirmed_amount": null,
                               "interbank_settlement_amount": null,
                               "interbank_settlement_date": null,
                               "charge_amount": null,
                               "charge_type": null,
                               "foreign_exchange_details": null,
                               "last_update_time": "2019-07-10T15:39:08+00:00"
                             },
                             {
                               "tracker_event_type": "customer_credit_transfer_payment_cancellation_request",
                               "valid": true,
                               "transaction_status": null,
                               "funds_available": null,
                               "forwarded_to_agent": null,
                     [...]
