---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"auth_token":"a897e685e3a6483a50151431a2593a57"}'
  recorded_at: Fri, 12 Feb 2021 12:51:23 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/payments/create
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - a897e685e3a6483a50151431a2593a57
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{
                   "error_code": "payment_create_failed",
                   "error_messages": {
                       "currency": [
                           {
                               "code": "currency_is_required",
                               "message": "currency is required",
                               "params": {}
                           },
                           {
                               "code": "currency_is_in_invalid_format",
                               "message": "currency is not a valid ISO 4217 currency code",
                               "params": {
                                   "type": "currency"
                               }
                           }
                       ],
                       "beneficiary_id": [
                           {
                               "code": "beneficiary_id_is_required",
                               "message": "beneficiary_id is required",
                               "params": {}
                           },
                           {
                               "code": "beneficiary_id_is_not_valid_uuid",
                               "message": "beneficiary_id should be in UUID format",
                               "params": {}
                           }
                       ],
                       "amount": [
                           {
                               "code": "amount_is_required",
                               "message": "amount is required",
                               "params": {}
                           },
                           {
                               "code": "amount_type_is_wrong",
                               "message": "amount should be of numeric type",
                               "params": {
                                   "type": "numeric"
                               }
                           }
                       ],
                       "reason": [
                           {
                               "code": "reason_is_required",
                               "message": "reason is required",
                               "params": {}
                           },
                           {
                               "code": "reason_is_too_short",
                               "message": "reason can not be shorter than 1 character(s)",
                               "params": {
                                   "minlength": 1
                               }
                           }
                       ],
                       "reference": [
                           {
                               "code": "reference_is_required",
                               "message": "reference is required",
                               "params": {}
                           },
                           {
                               "code": "reference_is_too_short",
                               "message": "reference can not be shorter than 1 character(s)",
                               "params": {
                                   "minlength": 1
                               }
                           }
                       ]
                   }
               }'
  recorded_at: Fri, 12 Feb 2021 12:52:23 GMT
recorded_with: VCR 5.0.0
