---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Thu, 29 Nov 2018 09:20:50 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/conversions/create
    body:
      encoding: UTF-8
      string: buy_currency=USD&sell_currency=GBP&fixed_side=buy&amount=150&reason=SDK%20conversion%20testing&term_agreement=true
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"d391e0a1-2643-44ff-b063-bbe39c98a2b5","settlement_date":"2018-11-19T16:30:00+00:00","conversion_date":"2018-11-19T00:00:00+00:00","short_reference":"20181115-GHXVKW","creator_contact_id":"a66ca63f-e668-47af-8bb9-74363240d781","account_id":"72970a7c-7921-431c-b95f-3438724ba16f","currency_pair":"GBPUSD","status":"awaiting_funds","buy_currency":"USD","sell_currency":"GBP","client_buy_amount":"150.00","client_sell_amount":"106.39","fixed_side":"buy","core_rate":"1.4099","partner_rate":"","partner_buy_amount":"0.00","partner_sell_amount":"0.00","client_rate":"1.4099","deposit_required":false,"deposit_amount":"0.00","deposit_currency":"","deposit_status":"not_required","deposit_required_at":"","payment_ids":[],"unallocated_funds":"150.00","unique_request_id":null,"created_at":"2018-11-15T14:07:58+00:00","updated_at":"2018-11-15T14:07:59+00:00","mid_market_rate":"1.4100"}'
  recorded_at: Wed, 28 Nov 2018 13:53:07 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/conversions/d391e0a1-2643-44ff-b063-bbe39c98a2b5/split_preview?amount=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"parent_conversion":{"id":"b401a1bc-ba02-4bd6-920e-8bf6fd97282b","short_reference":"20180622-XCRNWB","sell_amount":"70.93","sell_currency":"GBP","buy_amount":"100.00","buy_currency":"USD","settlement_date":"2018-07-02T15:30:00+00:00","conversion_date":"2018-07-02T00:00:00+00:00","status":"awaiting_funds"},"child_conversion":{"id":"13575890-f1a3-466d-81ce-f9444d2816a7","short_reference":"20180622-GXWQPV","sell_amount":"35.46","sell_currency":"GBP","buy_amount":"50.00","buy_currency":"USD","settlement_date":"2018-07-02T15:30:00+00:00","conversion_date":"2018-07-02T00:00:00+00:00","status":"awaiting_funds"}}'
  recorded_at: Thu, 29 Nov 2018 09:28:43 GMT
recorded_with: VCR 3.0.3
