---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=mark.sutton%40currencycloud.com&api_key=48a3d8694aeb1132588a27d1a7dbbc4ef92dbebd83e51194a67a02f9b81f67d8
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"72ab8fa2594ecb4f9a88efcfd565c6a3"}'
  recorded_at: Thu, 03 May 2018 14:07:06 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/conversions/create
    body:
      encoding: UTF-8
      string: buy_currency=USD&sell_currency=GBP&fixed_side=buy&amount=95000&reason=SDK%20conversion%20testing&term_agreement=true
    headers:
      X-Auth-Token:
      - 72ab8fa2594ecb4f9a88efcfd565c6a3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"bd8e2f9f-de20-4e81-910a-b6e9730762bd","settlement_date":"2018-05-08T15:30:00+00:00","conversion_date":"2018-05-08T00:00:00+00:00","short_reference":"20180503-BMGFVS","creator_contact_id":"04d0c252-7b78-4d72-b408-df78841e3ddc","account_id":"67e1b252-40a7-454d-a097-8f77d385889d","currency_pair":"GBPUSD","status":"awaiting_funds","buy_currency":"USD","sell_currency":"GBP","client_buy_amount":"95000.00","client_sell_amount":"67380.67","fixed_side":"buy","core_rate":"1.4099","partner_rate":"","partner_status":"funds_arrived","partner_buy_amount":"0.00","partner_sell_amount":"0.00","client_rate":"1.4099","deposit_required":false,"deposit_amount":"0.00","deposit_currency":"","deposit_status":"not_required","deposit_required_at":"","payment_ids":[],"unallocated_funds":"0.00","unique_request_id":null,"created_at":"2018-05-03T14:07:06+00:00","updated_at":"2018-05-03T14:07:06+00:00","mid_market_rate":"1.4100"}'
  recorded_at: Thu, 03 May 2018 14:07:07 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/conversions/bd8e2f9f-de20-4e81-910a-b6e9730762bd/date_change
    body:
      encoding: UTF-8
      string: new_settlement_date=2018-05-09T10%3A00%3A00%2B00%3A00
    headers:
      X-Auth-Token:
      - 72ab8fa2594ecb4f9a88efcfd565c6a3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"conversion_id":"bd8e2f9f-de20-4e81-910a-b6e9730762bd","amount":"-9.56","currency":"GBP","new_conversion_date":"2018-05-09T00:00:00+00:00","new_settlement_date":"2018-05-09T15:30:00+00:00","old_conversion_date":"2018-05-08T00:00:00+00:00","old_settlement_date":"2018-05-08T15:30:00+00:00","event_date_time":"2018-05-03T14:07:08+00:00"}'
  recorded_at: Thu, 03 May 2018 14:07:08 GMT
recorded_with: VCR 2.9.3
