---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Mon, 16 Jul 2018 10:41:02 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/conversions/create
    body:
      encoding: UTF-8
      string: buy_currency=USD&sell_currency=GBP&fixed_side=buy&amount=95000&reason=SDK%20conversion%20testing&term_agreement=true
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"f2106374-2084-4827-ad6c-68c47720379e","settlement_date":"2018-07-18T15:30:00+00:00","conversion_date":"2018-07-18T00:00:00+00:00","short_reference":"20180716-LNLSYQ","creator_contact_id":"04d0c252-7b78-4d72-b408-df78841e3ddc","account_id":"67e1b252-40a7-454d-a097-8f77d385889d","currency_pair":"GBPUSD","status":"awaiting_funds","buy_currency":"USD","sell_currency":"GBP","client_buy_amount":"95000.00","client_sell_amount":"67476.38","fixed_side":"buy","core_rate":"1.4079","partner_rate":"","partner_buy_amount":"0.00","partner_sell_amount":"0.00","client_rate":"1.4079","deposit_required":false,"deposit_amount":"0.00","deposit_currency":"","deposit_status":"not_required","deposit_required_at":"","payment_ids":[],"unallocated_funds":"0.00","unique_request_id":null,"created_at":"2018-07-16T10:41:02+00:00","updated_at":"2018-07-16T10:41:02+00:00","mid_market_rate":"1.4080"}'
  recorded_at: Mon, 16 Jul 2018 10:41:03 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/conversions/f2106374-2084-4827-ad6c-68c47720379e/date_change
    body:
      encoding: UTF-8
      string: new_settlement_date=2018-07-17%2011%3A40%3A59%20%2B0100
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"conversion_id":"f2106374-2084-4827-ad6c-68c47720379e","amount":"-14.38","currency":"GBP","new_conversion_date":"2018-07-17T00:00:00+00:00","new_settlement_date":"2018-07-17T15:30:00+00:00","old_conversion_date":"2018-07-18T00:00:00+00:00","old_settlement_date":"2018-07-18T15:30:00+00:00","event_date_time":"2018-07-16T10:41:03+00:00"}'
  recorded_at: Mon, 16 Jul 2018 10:41:04 GMT
recorded_with: VCR 3.0.3
