---
http_interactions:
- request:
    method: post
    uri: https://devapi.thecurrencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error_code":"internal_application_error","error_messages":{"base":[{"code":"internal_application_error","message":"A
        general application error occurred","params":{"request_id":2771875643610572878}}]}}'
  recorded_at: Sat, 25 Apr 2015 06:52:42 GMT
- request:
    method: get
    uri: https://devapi.thecurrencycloud.com/v2/beneficiaries/081596c9-02de-483e-9f2a-4cf55dcdf98c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 656485646b068f6e9c81e3d885fa54f5
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error_code":"beneficiary_not_found","error_messages":{"id":[{"code":"beneficiary_not_found","message":"Beneficiary
        was not found for this id","params":{}}]}}'
  recorded_at: Sat, 25 Apr 2015 11:21:38 GMT
recorded_with: VCR 2.9.3
