---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com2&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers: {}
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code":"too_many_requests","error_messages":{"base":[{"code":"too_many_requests","message":"Too
        many requests have been made to the api. Please refer to the Developer Center
        for more information","params":{}}]}}'
  recorded_at: Sat, 25 Apr 2015 06:45:44 GMT
recorded_with: VCR 2.9.3
