---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error_code":"internal_application_error","error_messages":{"base":[{"code":"internal_application_error","message":"A
        general application error occurred","params":{"request_id":2771875643610572878}}]}}'
  recorded_at: Sat, 25 Apr 2015 06:52:42 GMT
recorded_with: VCR 2.9.3
