---
http_interactions:
- request:
    method: get
    uri: https://devapi.thecurrencycloud.com/v2/beneficiaries/081596c9-02de-483e-9f2a-4cf55dcdf98c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 656485646b068f6e9c81e3d885fa54f5
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error_code":"beneficiary_not_found","error_messages":{"id":[{"code":"beneficiary_not_found","message":"Beneficiary
        was not found for this id","params":{}}]}}'
  recorded_at: Sat, 25 Apr 2015 11:16:53 GMT
recorded_with: VCR 2.9.3
