---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/beneficiaries/find
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 7fbba909f66ee6721b2e20a5fa1ccae7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"beneficiaries":[],"pagination":{"total_entries":0,"total_pages":1,"current_page":1,"per_page":25,"previous_page":-1,"next_page":-1,"order":"created_at","order_asc_desc":"asc"}}'
  recorded_at: Fri, 24 Apr 2015 21:23:27 GMT
recorded_with: VCR 2.9.3
