---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/beneficiaries/find
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 3068d3ff160ab0636648d98b4e4e10ad
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication
        failed with the supplied credentials","params":{}}]}}'
  recorded_at: Sat, 25 Apr 2015 06:32:32 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"038022bcd2f372cac7bab448db7b5c3b"}'
  recorded_at: Sat, 25 Apr 2015 06:32:32 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/beneficiaries/find
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 038022bcd2f372cac7bab448db7b5c3b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"beneficiaries":[],"pagination":{"total_entries":0,"total_pages":1,"current_page":1,"per_page":25,"previous_page":-1,"next_page":-1,"order":"created_at","order_asc_desc":"asc"}}'
  recorded_at: Sat, 25 Apr 2015 06:32:33 GMT
recorded_with: VCR 2.9.3
