---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Mon, 16 Jul 2018 12:59:18 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/ibans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ibans":[{"id":"8242d1f4-4555-4155-a9bf-30feee785121","iban_code":"GB33BUKB20201555555555","account_id":"e277c9f9-679f-454f-8367-274b3ff977ff","currency":"EUR",
    "account_holder_name":"Development CM","bank_institution_name":"The Currency Cloud","bank_institution_address":"12 Steward Street, The Steward Building, London, E1 6FQ, GB",
    "bank_institution_country":"United Kingdom","bic_swift":"TCCLGB31","created_at":"2018-02-19T17:24:48+00:00","updated_at":"2018-02-19T17:24:48+00:00"},
    {"id":"8242d1f4-4555-4155-a9bf-30feee785121","iban_code":"GB51TCCL00997961584808","account_id":"e277c9f9-679f-454f-8367-274b3ff977ff","currency":"GBP",
    "account_holder_name":"Development CM","bank_institution_name":"The Currency Cloud","bank_institution_address":"12 Steward Street, The Steward Building, London, E1 6FQ, GB",
    "bank_institution_country":"United Kingdom","bic_swift":"TCCLGB31","created_at":"2018-02-19T17:24:48+00:00","updated_at":"2018-02-19T17:24:48+00:00"},
    {"id":"8242d1f4-4555-4155-a9bf-30feee785121","iban_code":"GB51TCCL00997961584809","account_id":"e277c9f9-679f-454f-8367-274b3ff977ff","currency":"USD",
    "account_holder_name":"Development CM","bank_institution_name":"The Currency Cloud","bank_institution_address":"12 Steward Street, The Steward Building, London, E1 6FQ, GB",
    "bank_institution_country":"United Kingdom","bic_swift":"TCCLGB31","created_at":"2018-02-19T17:24:48+00:00","updated_at":"2018-02-19T17:24:48+00:00"}],
    "pagination":{"total_entries":3,"total_pages":1,"current_page":1,"per_page":25,"previous_page":-1,"next_page":2,"order":"created_at","order_asc_desc":"asc"}}'
  recorded_at: Mon, 16 Jul 2018 12:59:19 GMT
recorded_with: VCR 3.0.3
