---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/authenticate/api
    body:
      encoding: UTF-8
      string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
  recorded_at: Mon, 16 Jul 2018 12:59:23 GMT
- request:
    method: get
    uri: https://devapi.currencycloud.com/v2/ibans/subaccounts/87077161-91de-012f-e284-1e0030c7f353
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - deadbeefdeadbeefdeadbeefdeadbeef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ibans":[{"id":"01d8c0bc-7f0c-4cdd-bc7e-ef81f68500fe","iban_code":"GB51TCCL00997997989490","account_id":"87077161-91de-012f-e284-1e0030c7f353",
        "currency":"JPY","account_holder_name":"Account-IGGLNHYTWFKI","bank_institution_name":"The
        Currency Cloud","bank_institution_address":"12 Steward Street, The Steward
        Building, London, E1 6FQ, GB", "bank_institution_country":"United Kingdom","bic_swift":"TCCLGB31","created_at":"2018-01-01T12:34:56+00:00","updated_at":"2018-01-01T12:34:56+00:00"}],
        "pagination":{"total_entries":1,"total_pages":1,"current_page":1,"per_page":25,"previous_page":-1,"next_page":2,"order":"created_at","order_asc_desc":"asc"}}'
  recorded_at: Mon, 16 Jul 2018 12:59:23 GMT
recorded_with: VCR 3.0.3
