---
http_interactions:
  - request:
      method: post
      uri: https://devapi.currencycloud.com/v2/authenticate/api
      body:
        encoding: US-ASCII
        string: login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: US-ASCII
        string: '{"auth_token":"deadbeefdeadbeefdeadbeefdeadbeef"}'
    recorded_at: Mon, 16 Jul 2018 08:20:14 GMT
  - request:
      method: post
      uri: https://devapi.currencycloud.com/v2/accounts/3e12053j-ae22-40b1-cc4e-cc0230c009a5/payment_charges_settings/090baf7e-5chh-4bfd-9b7l-ad3f8a310123
      body:
        encoding: US-ASCII
        string: ''
      headers:
        X-Auth-Token:
          - deadbeefdeadbeefdeadbeefdeadbeef
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: US-ASCII
        string: >-
             {
                "charge_settings_id": "090baf7e-5chh-4bfd-9b7l-ad3f8a310123",
                "account_id": "3e12053j-ae22-40b1-cc4e-cc0230c009a5",
                "charge_type": "ours",
                "enabled": true,
                "default": true
              }
    recorded_at: Mon, 16 Jul 2018 08:20:15 GMT
recorded_with: VCR 4.0.0
