---
http_interactions:
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/conversions/create
    body:
      encoding: UTF-8
      string: buy_currency=USD&sell_currency=GBP&fixed_side=buy&amount=95000&reason=SDK%20conversion%20testing&term_agreement=true
    headers:
      X-Auth-Token:
      - 0cd4bbc28bd2030cc8d6eca7be9aa6b7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"86a1bbda-261e-4dd5-8a9f-21ccc420cfb5\",\"settlement_date\":\"2018-05-11T15:30:00+00:00\",\"conversion_date\":\"2018-05-11T00:00:00+00:00\",\"short_reference\":\"20180509-LGLNPV\",\"creator_contact_id\":\"04d0c252-7b78-4d72-b408-df78841e3ddc\",\"account_id\":\"67e1b252-40a7-454d-a097-8f77d385889d\",\"currency_pair\":\"GBPUSD\",\"status\":\"awaiting_funds\",\"buy_currency\":\"USD\",\"sell_currency\":\"GBP\",\"client_buy_amount\":\"95000.00\",\"client_sell_amount\":\"67476.38\",\"fixed_side\":\"buy\",\"core_rate\":\"1.4079\",\"partner_rate\":\"\",\"partner_status\":\"funds_arrived\",\"partner_buy_amount\":\"0.00\",\"partner_sell_amount\":\"0.00\",\"client_rate\":\"1.4079\",\"deposit_required\":false,\"deposit_amount\":\"0.00\",\"deposit_currency\":\"\",\"deposit_status\":\"not_required\",\"deposit_required_at\":\"\",\"payment_ids\":[],\"unallocated_funds\":\"0.00\",\"unique_request_id\":null,\"created_at\":\"2018-05-09T13:13:11+00:00\",\"updated_at\":\"2018-05-09T13:13:11+00:00\",\"mid_market_rate\":\"1.4080\"}"
  recorded_at: Wed, 09 May 2018 13:13:11 GMT
- request:
    method: post
    uri: https://devapi.currencycloud.com/v2/conversions/86a1bbda-261e-4dd5-8a9f-21ccc420cfb5/cancel
    body:
      encoding: UTF-8
      string: notes=Business%20Terminated%20Contract
    headers:
      X-Auth-Token:
      - 0cd4bbc28bd2030cc8d6eca7be9aa6b7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"account_id\":\"67e1b252-40a7-454d-a097-8f77d385889d\",\"contact_id\":\"04d0c252-7b78-4d72-b408-df78841e3ddc\",\"event_account_id\":\"67e1b252-40a7-454d-a097-8f77d385889d\",\"event_contact_id\":\"04d0c252-7b78-4d72-b408-df78841e3ddc\",\"conversion_id\":\"86a1bbda-261e-4dd5-8a9f-21ccc420cfb5\",\"event_type\":\"self_service_cancellation\",\"amount\":\"-9.58\",\"currency\":\"GBP\",\"notes\":\"Business
        Terminated Contract\",\"event_date_time\":\"2018-05-09T13:13:12+00:00\"}"
  recorded_at: Wed, 09 May 2018 13:13:12 GMT
recorded_with: VCR 2.9.3
